.modalCreate__wrapper {
  position: fixed;
  padding: 0px 6px;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalCreate__body {
    position: relative;
    bottom: 110px;
    padding: 26px 20px;
    max-width: 520px;
    min-height: 330px;
    background-color: #dadada;
    border: none;
    border-radius: 4px;
  }
}
